body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .game {
    margin-top: 50px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .choices {
    margin-top: 20px;
  }
  
  .choiceButton {
    padding: 10px 20px;
    margin: 0 10px;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }